## Lists
Lists let you store a collection of items. These items can be of any type: integers, strings, booleans or even other lists.

#### Syntax
To declare a list, we use square brackets [] then add in items separated by commas.
```python
fruits = ['apple', 'banana', 'kiwi', 'pear']
```

#### Access
To access an element of a list, we use the index of that element in the list. In programming we always count from zero, so the first item of a list is element.

In [ ]:
fruits = ['apple', 'banana', 'kiwi', 'pear']
#First element: 
print(fruits[0])

#Last element
print(fruits[-1])

#Any other item
print(fruits[2])

#### Functions related to list

<a href="https://docs.python.org/3/tutorial/datastructures.html#more-on-lists">See the official documentation here</a>

- len(list): retrieve the number of items contained in a given list.
- sum(list): get the sum of all numbers again through a function.
- sorted(list,reverse=False): sort ascending elements of a list
- sorted(list,reverse=True): sort descending elements of a list

In [15]:
fruits = ['kiwi', 'pear','apple', 'banana']
count=len(fruits)
print(count)
num = [5, 10,5, 10]
total=sum(num)
print(total)

4
30

In [8]:
fruits = ['kiwi', 'pear','apple', 'banana']
sorted_fruits=sorted(fruits,reverse=False)
print(sorted_fruits)

['apple', 'banana', 'kiwi', 'pear']

- list.append(element): add element to the end of the list
- list.remove(element): remove from a list, the element in parameter.
- list.pop(index): remove from a list, the element located in index parameter.

In [13]:
l=[1,2,3,4,5]
print(l)
l.append(6)
print(l)
l.remove(3)
print(l)
l.pop(0)
print(l)
l.pop(0)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[2, 4, 5, 6]
[4, 5, 6]

## Exercice

[3, 47, 99, -80, 22, 97, 54, -23, 5, 7]

- Calculate the average of the list
- Find the lowest number
- Find the highest number
- Display the average the lowest and the highest value into the console

In [ ]:
fruits = ['apple', 'banana', 'kiwi', 'pear']
fruits.append('orange')
print(fruits)
fruits.remove('banana')
print(fruits)
fruits.pop(1)
print(fruits)

## For loop
A for loop is used for iterating over a sequence (for example a list). With the for loop we can execute a set of statements, once for each item in a sequence.

- For loops start with the keyword __for__. 
- Then an “iterator”, a variable whose value will change at each turn of the loop. 

We’ll use this within the loop as the current value for a given iteration of the loop.

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### Exercice
Write a program that counts the number of element for a list.
```python
name=['Alex','Mike','Dylan','Yossi','Michael']
```
Output: 5

In [21]:
nu=[12,34,6556,8787,56]
counter=0

for n in names:
    print(n)
    counter=counter+1
    
print(counter)

12
34
6556
8787
56
5

### Exercice
Write a program that print the name starting by 'a'
 
```python
name=['Alex','Mike','Dylan','yossi','Michael','ary']
```
__Output:__<br>
Alex<br>
ary

In [27]:
names=['Alex','Mike','Dylan','yossi','Michael','ary']
#solution 1
for n in names:
    if n[0]=='B' or n[0]=='b':
        print(n)
        
#solution 2
#for n in names:
#    temp=n.lower()
#    if temp[0]=="d":
#        print(n)

Dylan

## Ranges
Ranges let you generate a sequence of numbers from a start value to and end value.

To create a new range you use the range function and pass it a start and end value. The end value is non inclusive meaning that if you iterate over a range, that last value will not be included.

In [29]:
numbers=range(0,6)
print(numbers)

range(0, 6)

When can iterate a range by using a for loop:

In [30]:
numbers=range(0,6)
for n in numbers:
    print(n)

0
1
2
3
4
5

## Exercice

Write a Python program that prints all the numbers from 0 to 10 except 3 and 6. <br>
Expected Output : 0 1 2 4 5 7 8 9 10

In [35]:
range_0_10=range(0,11)
for number in range_0_10:
    if not(number==6 or number==3):
        print(number)

0
1
2
4
5
7
8
9
10

In [36]:
not(True)

False

## A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [37]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x+' '+y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [3]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 0 or (row == 6 and column < 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

*
*
*
*
*
*
******